# 2018년 5월 9일 4번째 수업
## 파이썬 자료형 + 제어문

In [4]:
# 변수에 어떤 종류의 자료도 저장할 수 있다.
x = 10
print("x =", x)

x = 10

In [6]:
y = 3.14
print("y = ", y)

y =  3.14

In [12]:
z = "이혜진"
print("내 이름은", "이혜진")

내 이름은 이혜진

In [13]:
'이혜진'

'이혜진'

In [14]:
"I'm a boy."

"I'm a boy."

In [15]:
123 + 123

246

In [17]:
"123" + "123"

'123123'

In [16]:
t = input("정수를 입력하시오:")
x = int(t)
t = input("정수를 입력하시오:")
y = int(t)
print(x+y)

246

In [19]:
# 문자열로 인식 str()
str(123) + str(123)

'123123'

In [20]:
print('나는 현재'+str(21)+'살이다.')

나는 현재21살이다.

In [21]:
print('원주율은'+str(3.14)+'입니다.')

원주율은3.14입니다.

In [25]:
print('이수현은' +str(19)+ '살이다.')

이수현은19살이다.

In [26]:
'이수현' +'바보다!'

'이수현바보다!'

In [29]:
메세지 = "축하해!"
print(메세지* 3)

축하해!축하해!축하해!

In [30]:
price = input("얼마에요?")
print("상품의 가격은 {0}원입니다.".format(price))

상품의 가격은 5000원입니다.

In [31]:
price = input("이수현 바보에요?")
print("네.".format(price))

네.

In [1]:
name = input("이름이 뭐에요?")
print("당신의 이름은 {0} 입니다.".format(name))

당신의 이름은 이혜진 입니다.

In [2]:
# 개별 문자 추출 = 인덱싱
s = input("이름이 뭔가요?")
print(s[0])
s[1]+s[2]

이

'혜진'

In [3]:
# 일정 범위의 문자 추출 = 슬라이싱
s[1:2]

'혜'

In [4]:
s[1:3]

'혜진'

In [5]:
s[0:4]

'이혜진'

In [7]:
s = input("당신의 이름은??")
print("당신의 성은 {0}이고, 이름은 {1}입니다.".format(s[0],s[1:3]))

당신의 성은 이이고, 이름은 혜진입니다.

In [12]:
print("안녕하세요?")
name = input("이름이 뭐에요?")

print("만나서 반가워요. {0}씨".format(name))
print("이름의 길이가" + str(len(name)) + "글자이네요.")

age = int(input("나이는 어떻게 되세요?"))
print("내년에는",  str(age+1),"이시네요.")

안녕하세요?
만나서 반가워요. 이혜진씨
이름의 길이가3글자이네요.
내년에는 20 이시네요.

In [14]:
과목 = ["영어", "수학", "국어", "과학", "사회"]

In [15]:
과목

['영어', '수학', '국어', '과학', '사회']

In [16]:
과목 [1]

'수학'

In [18]:
과목 [1:4]

['수학', '국어', '과학']

In [19]:
과목.append("체육")

In [20]:
과목

['영어', '수학', '국어', '과학', '사회', '체육']

In [21]:
이름 = ["이혜진", "이수현", "이재호"]

In [22]:
이름

['이혜진', '이수현', '이재호']

In [29]:
친구목록 = []

친구이름 = input("친한 친구 이름 써봐요.")
친구목록.append(친구이름)
친구이름 = input("친한 친구 이름 써봐요.")
친구목록.append(친구이름)
친구이름 = input("친한 친구 이름 써봐요.")
친구목록.append(친구이름)

친구목록

['이재혁', '이혜진', '이재호']

In [30]:
친구목록

['이재혁', '이혜진', '이재호']

In [31]:
# 비교 연산자
100 > 1

True

In [32]:
33<32

False

In [35]:
"이혜진" == "이혜진"

True

In [36]:
"이혜진" != "이재혁"

True

In [38]:
if score >= 70 :
    print ("합격! 호로로로로로롤")
else: 
    print("불합격!")
    print("재응시하세요")

NameError: name 'score' is not defined

In [40]:
나이 = input("나이를 입력하세요.")
if 나이 >= 19:
    print("이 영화를 볼 수 있습니다.")
else:
    print("입장불가")

TypeError: '>=' not supported between instances of 'str' and 'int'